[alias]
  co = checkout
  ci = commit
  st = status --short
  br = branch

  # Neat, high density display of the commit tree
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=relative
  type = cat-file -t
  dump = cat-file -p

  # Unmodify / discard a change
  unmodify = checkout HEAD --
  discard = checkout HEAD --

  # Undo add (move changes from index to working directory)
  unstage = reset HEAD

  # Undo the previous commit, and leave the changes in the index
  uncommit = reset --soft HEAD^

  # Amend the last commit
  amend = commit --amend

  # Sync with master (rebase to keep the commit history clean)
  sync = pull --rebase origin

  # Unstash a stash (preferred over stash apply because it removes from list)
  unstash = stash pop

  # Show the last commit
  last = log -1 HEAD --stat --abbrev-commit

  # Show any changes from the last commit
  difflast = diff HEAD^

  # Start a branch
  start = checkout -b

  # Continue working on a branch
  resume = checkout

  # Finish a branch
  finish = push origin

  # Switch to master
  master = checkout master

[color]
  # Color everything
	ui = auto

[core]
	quotepath = false
	autocrlf = input

[diff]
	renames = copies
	mnemonicprefix = true

[merge]
	stat = true

[advice]
	statusHints = false

[help]
  # Automatically correct and execute mistyped commands after waiting
  # for the given number of deciseconds (0.1s). If more than one command
  # can be deduced from the entered text, nothing will be executed. If
  # the value of this option is negative, the corrected command will be
  # executed immediately. If the value is 0, the command will be shown
  # but not executed. This is the default.
  autocorrect = -1

